/******************************************************************

Stylesheet: 検索結果の表示

******************************************************************/

.search {
    &__container {
        @extend .content-width;
        padding-top: 50px;

        .fs-m {
            font-size: 12px;
        }
    }

    &__result {
        border: 1px #ddd solid;
        border-radius: 5px;
        margin: 30px 0;
        background-color: $searchItemResultColor;

        &-btn{
            display: flex;
            justify-content: space-around;
        }

        & .btn {
            padding: 10px;
            border-radius: 30px;
        }
    }

    &__item {
        padding: 20px;
        border-bottom: 1px solid #ddd;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin: 10px 0;

        &-flex {
            display: flex;
            justify-content: center;
        }
    }

    &__input-field {
        border: 1px solid #757575;
        padding: 5px;
        border-radius: 5px;
        background-color: $whiteColor;
    }

    &__input-btn {
        color: #fff;
        background-color: #757575;
        padding: 5px 10px;
        border-radius: 5px;
    }

    &__keyword {
        text-align: center;
        margin-bottom: 0;
        margin-right: 20px;

        &-bold {
            font-weight: bold;
        }
    }
}
