/******************************************************************

Stylesheet: 検索結果の表示

******************************************************************/

.search {
    &__container {
        @extend .content-width;

        .fs-m {
            font-size: 12px;
        }
    }

    &__item {
        padding: 20px;
    }

    &__form {
        text-align: center;
        margin-bottom: 10px;

        &-flex {
            display: flex;
            justify-content: center;
        }
    }

    &__input-field {
        border: 1px solid #757575;
        width: 80%;
        max-width: 500px;
        padding: 5px;
        border-radius: 5px;
    }

    &__input-btn {
        color: #fff;
        background-color: #757575;
        padding: 5px 10px;
        border-radius: 5px;
    }

    &__keyword {
        margin-bottom: 0;
        margin-right: 20px;
    }
}
