/******************************************************************

Stylesheet: 詳細ページ

******************************************************************/

.show {
    &__container {
        @extend .content-width;
        padding-top: 5vh;
        i {
            margin-right: 3px;
        }
        .c {
            &-rating {
                color: $ratingColor;
            }
        }
    }

    &__title {
        margin-top: 10px;
        font-weight: bold;
    }

    &__image {
        text-align: center;
    }

    &__info {
        padding: 20px;
        background-color: $whiteColor;
        border-radius: 5px;
        border: 2px solid #ddd;
    }

    &__description {
        .fs-m {
            font-size: 12px;
        }
    }
    &__user-icon {
        line-height: 50px;
        margin-bottom: 10px;
        img {
            margin-right: 5px;
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
    }

    &__my-review {
        background-color: #fff;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #ddd;
    }

    &__my-flex {
        display: flex;
        justify-content: space-between;
    }

    &__other-review {
        padding: 10px;
        background-color: $whiteColor;
        border: 1px solid #ddd;
    }

    // コメントは改行させる。
    &__comment {
        font-size: 14px;
        white-space: pre-wrap;
        margin-left: 10px;
    }

    &__options {
        display: flex;
        align-items: center;
    }

    &__rating {
        margin-left: 10px;
    }

    &__btn{
        & button{
            border-radius: 30px;
        }
    }
}
