/******************************************************************

Stylesheet: Route::get(books/index) → (マイページ)

******************************************************************/



// マイページ共通
.mypage {
    &__inner {
        @extend .content-width;
    }
    &__section {
        margin: 40px 0;
    }
}


// ユーザー情報
.user {
    background-color: $themeColor;    
    border-radius: 5px;
    padding: 30px 30px 70px;
    
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__inner {        
        display: flex;
        flex-direction: column;
    }

    &__image{
        width: 150px;
        height: 150px;
        
        &-circle{
            border-radius: 50%;
        }
    }
}

// 検索欄
.search {
    &__box {
        display: flex;
        width: 50%;
        max-width: 500px;
        margin: 0 auto;
    }

    &__field {
        flex-basis: 90%;
        height: 40px;
        border: 1px double #808080;
        border-radius: 3px;
    }

    &__btn {
        text-align: center;
        flex-basis: 10%;
        padding: 10px;
    }
}



// 読書歴
.review {
    
    display: flex;
    flex-wrap: wrap;

    &__show {
        flex-basis: 200px;
        margin: 10px;
        font-size: 12px;
        color: #000;
    }

    &__title{

        &-done{
            font-size: 10px;
            font-weight: bold;
        }
    }
}
