/******************************************************************

Stylesheet:  resources/views/includes/setting （設定リストのパーツ）

******************************************************************/

.setting {
    &__block {
        height: 30vh;
        padding: 30px 0 30px 20px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
    }

    &__account{
        font-size: 1.5rem; 
    }

    &__lists{
        padding-left: 15px;
    }

    &__item{
        color: #696969;
        font-size: 1rem;
        padding: 5px 0;
        
        &:hover{
            font-weight: bold;
        }
    }
}
