/******************************************************************

Stylesheet: モーダル関連

******************************************************************/

// 書籍登録モーダル
.modal {
    &-content {
        width: 100%;
        margin: 0 auto;
        padding: 5%;
    }


    // moda-book   
    &-book {
        &__body {
            display: flex;
        }

        // モーダルヘッダー部分
        &__header {
            display: flex;
            margin-top: 20px;
        }

        &__details {
            margin-left: 20px;
        }

        // モーダル入力部分
        &__date-field {
            width: 100%;
        }

        &__input-field {
            width: 100%;
            padding: 5px;
            border-radius: 10px;
            border: 3px double #000
        }

        &__option {
            margin-bottom: 5px;
        }

        &__margin-right {
            margin-right: 5px;
        }

        &__netabare-private {
            display: flex;
        }

        &__btn {
            color: #fff;
        }

        &__btn:hover {
            box-shadow: 0 5px 13px 3px rgba(0, 0, 0, 0.18),
                0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }

        // モーダル編集画面
        &__star {
            &-rating {
                margin-bottom: 10px;
            }
        }
    }

    // 外部ライブラリの追記部分

    //vue star
    .vue-star-rating{
        margin-left: 10px;

        &-text{
            margin-top: 4px;
        }
    }
    // flatpcrのカレンダーサイズ
    .dayContainer {
        max-width: 100%;
    }
}


// 編集モーダル


// プロフィール画像設定モーダル
.modal-delete{

    &__btn{
        width: 150px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}