/******************************************************************

Stylesheet: ナビバー

******************************************************************/

.navbar {
    background-color: $navColor;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    
    &__inner {
        @extend .content-width;
    }

    &__btn {
        position: relative;       
    }

    &__hamburger {
        position: absolute;
        top: 0;
        right: 0;
    }

}
