/******************************************************************

Stylesheet: ナビバー

******************************************************************/

.navbar {
    background-color: $navColor;
    position: fixed;
    width: 100%;
    padding: 15px 0;
    top: 0;
    z-index: 1;

    &__service-name {
        font-size: 20px;
        display: flex;
        align-items: center;

        &:hover {
            color: $whiteColor;
        }
    }

    &-nav {
        padding-left: 10px;
        margin-top: 25px;
    }

    &__inner {
        @extend .content-width;
    }

    &__menu-btn {
        color: $whiteColor !important;
    }

    &__btn {
        position: relative;
    }

    &__hamburger {
        background-color: $whiteColor;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__btn {
        padding: 5px 20px;
        border-radius: 3px;
    }
    &__register-btn {
        color: #fff;
        background-color: $register-btn;
    }
    &__login-btn {
        color: #fff;
        background-color: $login-btn;
    }
}
