/******************************************************************

Stylesheet: ナビバー

******************************************************************/

.navbar {
    background-color: $navColor;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    top: 0;
    z-index: 1;

    &__service-name {
        font-size: 20px;
    }

    &-nav {
        padding-left:10px;
        margin-top: 25px;
    }

    &__inner {
        @extend .content-width;
    }

    &__menu-btn {
        color: $whiteColor !important;
    }

    &__btn {
        position: relative;
    }

    &__hamburger {
        background-color: $whiteColor;
        position: absolute;
        top: 0;
        right: 0;
    }

}
