/******************************************************************

Stylesheet: Route::get(books/settings/resign)  resources/views/settings/resign

******************************************************************/

.resign {
    &__title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    &__summary {
        color: #961818;
        font-size: 14px;
        background-color: #f9b0b0;
        padding: 20px;
        border: 2px solid #961818;
        border-radius: 5px;
    }

    &__container {
        @extend .content-width;
        margin-top: 50px !important;
    }

    &__block {
        margin-top: 20px;
    }

    &__btn-area {
        text-align: center;
    }

    &__btn {
        outline: none;
        border-radius: 3px;
        background-color: #dc0000;   
        padding: 10px 30px;
        color: #fff;
        box-shadow: 0px 5px black;

        &:active{
            outline: none;
            margin-top: 3px;
            box-shadow: 0px 2px black;
        }
    }
}
