/******************************************************************

Stylesheet: Route::get(books/settings/my-profile)  resources/views/settings/my-profile

******************************************************************/

.my-profile {
    &__container {
        @extend .content-width;
        margin-top: 50px !important;
    }

    &__block {
        margin-top: 20px;
    }

    &__input-field{
        border: 1px solid #000;
    }
}

#new_icon {
    width: 200px;
    margin: 3px auto 0;
    word-break: break-all;
}
