/******************************************************************

Stylesheet: Route::get(books/settings/resign)  resources/views/settings/resign

******************************************************************/

.resign{
    &__container{
        @extend .content-width;
        margin-top: 50px !important;
    }

    &__block{
        margin-top: 20px;
    }  

    &__btn-area{
        text-align: center;
    }
}

