/******************************************************************

Stylesheet: Route::get(books/settings/my-profile)  resources/views/settings/my-profile

******************************************************************/

.my-profile {
    &__title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    &__container {
        @extend .content-width;
        margin-top: 50px !important;
    }

    &__block {
        margin-top: 20px;
    }

    &__input-field {
        margin: 5px 0 10px 10px;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 3px;
        background: $whiteColor;
        width: 100%;
        outline: none;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__btn {
        text-align: center;
        & button {
            border-radius: 3px;
            background-color: #000;
            padding: 10px 30px;
            color: #fff;

            &:hover{
                box-shadow: 0px 6px 7px 3px rgb(0 0 0 / 28%);
            }
        }
    }
}

#new_icon {
    width: 200px;
    margin: 3px auto 0;
    word-break: break-all;
}

.favorite-marker-red{
    background: linear-gradient(transparent 0%, #f36767 0%);
}

.favorite-marker-yellow{
    background: linear-gradient(transparent 0%, #fcea6b 0%);
}
.favorite-marker-green{
    background: linear-gradient(transparent 0%, #8bd187 0%);
}
