/******************************************************************

Stylesheet: 詳細ページ

******************************************************************/

.show {
    &__container {
        @extend .content-width;
        padding-top: 5vh;
        i {
            margin-right: 3px;
        }
        .c {
            &-rating {
                color: $ratingColor;
            }
        }

        .mb-10 {
            margin-bottom: 10px;
        }
    }

    &__title {
        margin-top: 10px;
        font-weight: bold;
    }

    &__image {
        text-align: center;
    }

    &__info {
        padding: 20px;
        background-color: $themeColor;
        border-radius: 5px;
    }

    &__description {
        .fs-m {
            font-size: 12px;
        }
    }
    &__user-icon {
        line-height: 50px;
        margin-bottom: 10px;
        img {
            margin-right: 5px;
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__options {
        display: flex;
    }

    &__rating {
        margin-left: 10px;
    }
}
