
// カラー
$themeColor: #f5f5f5;
$ratingColor: #ffd600;
$requiredColor: #DC143C;
$navColor: #00264d;
$footerColor:  #a4b4ca;
$searchItemResultColor:#ffffff;
$whiteColor:#ffffff;
$backgroundColor: #f5f5f5;
$netabareColor:#f9b0b0;