
// カラー
$themeColor: #f5f5f5;
$ratingColor: #ffd600;
$requiredColor: #DC143C;
$navColor: gainsboro;
$footerColor:  #696969;
$searchItemResultColor:#ffffff;
$whiteColor:#ffffff;
$backgroundColor:#f5f5f5;