/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/



//********* modules/_books-index ************//

// ユーザー情報
.user {
    text-align: left;
    
    &__inner {
        display: flex;         
    }

    &__info{
        margin-left: 20px;
    }
}

// 読書歴
.review { 
    &__book {
        width: 100%;        
    }
}