/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/

//********* modules/_books-index ************//

// ユーザー情報
.user {
    text-align: left;

    

    &__info {        
        margin-left: 30px;
        
        &__common{

        }
    }

    &__name {
        text-align: center;
        padding-top: 10px;
        margin: 0;
    }
}

// プロフィール画像関連
.icon {
    &__form {
        margin-top: 0;
    }
}

// 読書歴
.review {
    &__show {
        flex-basis: 28%;
    }
}
