/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/



//********* modules/_books-index ************//

// ユーザー情報
.user {
    &__inner {        
        flex-direction: row;
    }
}

// 読書歴
.review { 
    &__book {
        width: 100%;        
    }
}