/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

// マイページ
.user {
    &__inner {
        display: flex;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        flex-basis: 90%;
        &-common {
            padding: 10px 20px 0;
            width: 100%;
        }
    }
    &__introduction {
        border-left: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
    }
    &__name {
        text-align: center;
        padding-top: 10px;
        margin: 0;
    }
}

// _books-index 読書歴
.review {
    justify-content: left;
    &__show {
        flex-basis: 150px;
        margin-left: 10px;
    }
}

// 設定画面
.my-profile {
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        flex-basis: 65%;
    }
}

// 詳細ページ
.show {
    &__flex {
        display: flex;
        margin-bottom: 10px;
    }
    &__right {
        margin-left: 20px;
    }
    &__title {
        margin-top: 0;
    }
    &__description {
        .fs-m {
            font-size: 14px;
        }
    }
}

// アイコン画像
.icon {
    // 画像
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__wrapper {
        margin-top: 0;
        flex-basis: 65%;
    }
    &__btn {
        margin: 0 0 20px;
    }
    &__upload {
        margin-top: 20px;
    }
    &__image {
        width: 200px;
        height: 200px;
    }
    &__error {
        margin-top: 20px;
    }
}

// 退会ページ
.resign {
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        margin-top: 0;
        flex-basis: 65%;
    }
}

// 設定リスト
.setting {
    &__block {
        flex-basis: 30%;
        height: 70vh;
    }
}

// 検索結果ページ
.search {
    &__container {
        .fs-m {
            font-size: 14px;
        }
    }
    &__flex {
        display: flex;
    }
    &__right {
        margin-left: 20px;
    }
}

// 表示結果なしのページ
.nothing-to-show {
    &__flex {
        display: flex;
    }
    &__left {
        margin-left: 20px;
    }
    &__description {
        .fs-m {
            font-size: 14px;
        }
    }
}

.history {
    &__block {
        margin: 0;
        flex-basis: 30%;
    }
}

.curious {
    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__block {
        flex-basis: 65%;
    }
    &__lists {
        justify-content: unset;
    }
    &__item {
        height: 350px;
        flex-basis: 45%;
    }
}