/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.navbar {
    &__btn {
        display: flex;
    }

    &__item{
        margin: 0 20px;
    }

    &-nav {
        padding-left:0px;
        margin-top: 0px;
    }
}

.contact {
    &__input {
        display: flex;
        line-height: 30px;
    }

    &__item {
        margin-right: 20px;
        margin-bottom: 0;
        text-align: left;
        width: 200px;
        border-right: 3px solid #ddd;
        padding-right: 20px;
    }

    &__confirm {
        text-align: center;
    }

    &__btn {
        width: 300px;
        display: inline-block;
    }
}
