/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
    font-family: "Kameron", "Noto Sans JP", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $backgroundColor;
}
img {
    vertical-align: bottom;
}

button:focus {
    outline: none;
}

.font-sm {
    font-size: 14px;
}
.font-md {
    font-size: 17px;
}
.font-lr {
    font-size: 17px;
}
.font-lg {
    font-size: 25px;
}
.mb-sm {
    margin-bottom: 16px !important;
}
.mb-lg {
    margin-bottom: 80px !important;
}
.pb-sm {
    padding-bottom: 16px !important;
}
.pb-lg {
    padding-bottom: 80px !important;
}
.content-width {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
}

.pagenate {
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}

.font-bold {
    font-weight: bold;
}

.mb-10 {
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}

#app {
    overflow-x: hidden;
    flex: 1;
    padding: 70px 0;
}

// 文字色
.letter-white {
    color: #fff;
}

.letter-dark {
    color: #000;
}

// ボーダー
.border-dark {
    border: 1px solid #000;
}

// マーカー
.marker-grey {
    background: linear-gradient(transparent 60%, #ddd 60%);
}

// 文字カウント
.count-length {
    text-align: end;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 10px;
}

